/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
#navbar{
	background-image: url('../images/heading_bg_3.jpg');
	width:100%;
}

body{
	background-color: #DCE1E5;
}

#page-container{
	width: 60%;
	margin-left:auto;
	margin-right:auto;
	background-color: white;

}

.main-container.container{
	width: 100%;

}